* {
  box-sizing: border-box;
  font-family: Jua;
}

@font-face {
  src: url("../fonts/BMJUA_otf.otf");
  font-family: Jua;
}

body {
  background-color: #F0E8D9;
}

#title {
  font-family: Jua;
  text-align: center;
  color: #58595B;
}

#title h1 {
  margin-top: 75px;
  font-size: 64px;
}

#title h2 {
  margin-top: 30px;
  margin-bottom: 75px;
  font-size: 32px;
}

.menu {
  background-color: white;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  margin-bottom: 50px;
}

.menu img {
  width: 300px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px 0px;
}

.menu h {
  font-size: 30px;
  display: block;
}

.menu p1 {
  display: block;
  text-align: left;;
  margin-top: 20px;
  margin-bottom: 15px;
}

.menu a {
  display: block;
  color: #0000EE;
  text-decoration: none;
}

.menu .inf {
  padding: 20px;
  color: #58596B;
  text-align: center;
}