* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

#navbar {
  width: 100%;
  height: 60px;
  background-color: #353535;
  position: fixed;
}

#navbar h {
  font-size: 20px;
  color: white;
  line-height: 60px;
  padding-left: 30px;
}

#mi {
  height: 350px;
  background-image: url("../images/main_img.jpg");
  background-size: cover;
}

#inf-container {
  height: 320px;
  line-height: 320px;
}

#inf-container #inf {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  padding-left: 30px;
  padding-right: 30px;
}

#inf-container #inf h1 {
  font-size: 16px;
  color: #4A4A4A;
  margin: 0;
}

#inf-container #inf h2 {
  font-size: 20px;
  color: #1B1B1B;
  margin-top: 10px;
  margin-bottom: 30px;
}

#inf-container #inf p {
  font-size: 16px;
  color: #7A7A7A;
  margin: 0;
}

#img1 {
  height: 385px;
  background-image: url("../images/img1.jpg");
  background-size: cover;
}

#img2 {
  height: 200px;
  background-image: url("../images/img2.jpg");
  background-size: cover;
  line-height: 200px;
}

#img2 #vb {
  vertical-align: middle;
  text-align: center;
}

#img2 #vb a {
  border: 4px solid white;
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  padding: 9px 40px;
}

#img3 {
  height: 200px;
  background-image: url("../images/img3.jpg");
  background-size: cover;
}

@media (min-width: 768px) {
  #mi {
    height: 562px;
  }

  #inf-container {
    height: 272px;
    line-height: 272px;
    padding-left: 65px;
    padding-right: 65px;
  }

  #inf-container #inf {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
  }

  #img1 {
    width: 50%;
    height: 360px;
    float: left;
  }

  #img2 {
    width: 50%;
    height: 180px;
    float: left;
  }
  
  #img3 {
    width: 50%;
    height: 180px;
    float: left;
  }
}

@media (min-width: 992px) {
  #mi {
    width: 50%;
    height: 700px;
    float: left;
  }

  #inf-container {
    width: 50%;
    height: 350px;
    line-height: 350px;
    padding-left: 65px;
    padding-right: 65px;
    float: left;
  }

  #inf-container #inf {
    display: inline-block;
    vertical-align: middle;
    padding: 0;
  }
  
  #img1 {
    width: 25%;
    height: 350px;
  }

  #img2 {
    width: 25%;
    height: 175px;
  }

  #img3 {
    width: 25%;
    height: 175px;
  }
}